@page
@model Get_Together_Riders.Pages.RideEventsModel
@{
    ViewData["Title"] = "Ride Events";
    //                     <a href="/AddRideEventLogEntry/Create?rideEventId=@rideEvent.RideEventID" class="btn btn-success">Add Ride Log Entry</a>
}

@if (ViewData["Message"] != null)
{
    <script>
        alert("@ViewData["Message"]");
    </script>
}

<h1>@ViewData["Title"]</h1>
<br />
<br />
<h2>Active Ride Events</h2>
<table class="table">
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Event Category</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rideEvent in Model.ActiveRideEvents)
        {
            <tr>
                <td class="col-3">
                    <span>@rideEvent.EventName</span>
                    <div class="ml-auto">
                        <a asp-page="/AddRideEventLogEntry" asp-route-rideEventId="@rideEvent.RideEventID" class="btn btn-success btn-sm">Add Ride Log Entry</a>
                    </div>
                </td>
                <td class="col-1">@rideEvent.EventCategory</td>
                <td class="col-2">@rideEvent.StartDate</td>
                <td class="col-3">@rideEvent.EndDate</td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<h2>Past Ride Events</h2>
<table class="table">
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Event Category</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rideEvent in Model.PastRideEvents)
        {
            <tr>
                <td class="col-3">@rideEvent.EventName</td>
                <td class="col-1">@rideEvent.EventCategory</td>
                <td class="col-2">@rideEvent.StartDate</td>
                <td class="col-3">@rideEvent.EndDate</td>
            </tr>
        }
    </tbody>
</table>